{% extends "shared/_layout.html" %}
{%  block title %}Login{% endblock %}

{% block main_content %}
    <div class="form-container">
    <form action="" method="POST" class="account-form">
        <h1>Login to Mist(Admin)</h1>
        <input name="name" type="text" placeholder="Your Name" class="form-control" value="{{ name }}">
        <input name="email" type="email" placeholder="Your email address" class="form-control" value="{{ email }}">
        <input  name="password" type="password" placeholder="Password" class="form-control" value="{{ password }}">
        <button type="submit" class="btn btn-danger">Login</button>
        <div style="clear:both;"></div>
    {% if error %}
        <div class="error-msg">{{ error }}</div>
    {% endif %}
    </form>
</div>
{% endblock %}

{% block additional_js %}
{% endblock %}
