{% extends "shared/_layout.html" %}
{% block main_content %}
<script>
    function myFunction() {
        document.getElementById('MissingFields').style.display = 'none'
        document.getElementById('Exisiting').style.display = 'none'

        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("POST", "/accounts/register");
        var response;
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState === 4 && xmlhttp.status === 200) {
                response = xmlhttp.response
                if (response === 'MF') {
                    document.getElementById('MissingFields').style.display = 'block'
                }
                else if (response === 'EE') {
                    document.getElementById('Exisiting').style.display = 'block'
                }
                else{
                    window.location = '/accounts'
                }
            }
        };
        xmlhttp.setRequestHeader('Content-Type', 'text/xml');
        Name = document.getElementById('name').value
        email = document.getElementById('email').value
        password = document.getElementById('password').value
        var xml = "<?xml version='1.0'?><query><name>" + Name + "</name><email>" + email + "</email><password>" + password + "</password></query>";
        xmlhttp.send(xml);
    }
</script>
<div class="form-container" style="text-align:center">
    <form action="" method="POST" class="account-form">
        <br><br>
        <h1>Register at Mist</h1>
        <br>
        <input name="name" type="text" id='name' placeholder="Your name" class="form-control" value="{{ name }}" style="width:25%; position:absolute; left:37.5%;">
        <br><br>
        <input name="email" type="text" id='email' placeholder="Your email address" class="form-control"
            value="{{ email }}" style="width:25%; position:absolute; left:37.5%;">
        <br><br>
        <input name="password" type="password" id='password' placeholder="Password" class="form-control"
            value="{{ password }}" style="width:25%; position:absolute; left:37.5%;">
        <br><br><br>
        <button type="button" style="width: 25%" class="btn btn-danger" onclick="myFunction()">Register</button>
        <div style="clear:both;"></div>
        <div class="error-msg" style='display:none;' id='MissingFields'>Some fields are missing</div>
        <div class="error-msg" style='display:none;' id='Exisiting'>The email used already exists</div>
    </form>
</div>

{% endblock %}
{% block additional_js %}
{% endblock %}
